# Gradle
.gradle/
**/build/
**/out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
**/bin/

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
